* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    transition: 0.4s;
    user-select: none;
}

p {
    margin: 0;
}

.wrapper {
    height: 100%;
    text-align: center;
    background-color: rgba(60, 2, 114, 0.959);
}

.content {
    background: linear-gradient(150deg, rgba(27, 133, 255, 0.6), rgba(220, 160, 255, 0.6), rgba(156, 3, 245, 0.6));
    padding: 20px 5px;
    text-align: center;
}

.to-do {
    color: white;
    margin-bottom: 10px;
    font-size: 32px;
}

.input-style {
    width: 600px;
    height: 30px;
    background-color: rgb(162, 191, 255);
    border: none;
    border-radius: 5px;
}

.input-style::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btn-style {
    background-color: rgb(195, 143, 255);
    border: none;
    color: rgba(111, 0, 255, 0.425);
    padding: 7px 50px;
    border-radius: 5px;
}


.delete {
    color: rgba(255, 255, 255, 0.774);
    background: linear-gradient(160deg, rgba(194, 7, 231, 0.5), rgba(250, 104, 153, 0.6), rgba(37, 34, 197, 0.6));
    border: none;
    border-radius: 30%;
    margin-left: 2%;
    padding: 3px 10px;
    font-size: 20px;
}

.item {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.list-style {
    background-color: rgb(95, 0, 248);
}

li.checked {
    background-color: rgb(23, 0, 77);
    text-decoration: line-through;
    color: rgb(80, 80, 80);
}