* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    transition: 0.4s;
    user-select: none;
}

p {
    margin: 0;
}

.wrapper {
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: rgba(60, 2, 114, 0.959);
    position: relative;
}

.content {
    background: linear-gradient(150deg, rgba(27, 133, 255, 0.6), rgba(220, 160, 255, 0.6), rgba(156, 3, 245, 0.6));
    padding: 20px 5px;
    text-align: center;
}

.to-do {
    color: white;
    margin-bottom: 10px;
    font-size: 32px;
}

.input-style {
    width: 600px;
    height: 30px;
    background-color: rgb(162, 191, 255);
    border: none;
    border-radius: 5px;
}

.input-style::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btn-style {
    background-color: rgb(195, 143, 255);
    border: none;
    color: rgba(111, 0, 255, 0.425);
    padding: 7px 50px;
    border-radius: 5px;
}


.delete {
    color: rgba(255, 255, 255, 0.774);
    background: linear-gradient(160deg, rgba(194, 7, 231, 0.5), rgba(250, 104, 153, 0.6), rgba(37, 34, 197, 0.6));
    border: none;
    border-radius: 30%;
    margin-left: 2%;
    padding: 3px 10px;
    font-size: 20px;
}

.item {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.list-style {
    background-color: rgb(95, 0, 248);
}

li.checked {
    background-color: rgb(23, 0, 77);
    text-decoration: line-through;
    color: rgb(80, 80, 80);
}

.modal {
    display: none;
    width: 350px;
    height: 150px;
    margin-left: 790px;
    margin-top: 200px;
    background-color: white;
    border-radius: 40px;
    animation: opacity 0.3s;
    position: absolute;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-content {
    position: relative;
}

.closeBtn {
    position: absolute;
    left: 315px;
    top: 4px;
    border: none;
    background: none;
    font-size: 24px;
}

.modal-text {
    position: absolute;
    max-width: 250px;
    left: 50px;
    top: 30px;
}

.cancelBtn {
    position: absolute;
    top: 100px;
    left: 70px;
    background-color: rgb(85, 85, 85);
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 5px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

.cancelBtn:hover {
    background-color: rgba(63, 63, 63);
    transition: all 0.3s;
}

.removeBtn {
    position: absolute;
    background-color: red;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 5px;
    color: white;
    top: 100px;
    left: 195px;
    font-family: 'Comfortaa', sans-serif;
}

.removeBtn:hover {
    background-color: rgba(119, 1, 1);
    transition: all 0.3s;
} 